.DS_Store
/.build
/.swiftpm
/Packages
/*.xcodeproj
xcuserdata/
/*.code-workspace

# Explicitly allow the Showcase project
!/Example/ImageStreamerApp.swiftpm
/Example/ImageStreamerApp.swiftpm/**/*.swiftpm